* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #000000;
    font-family: 'Inclusive Sans', Arial, sans-serif;
}

h1, h3, a {
    font-family: 'Wicked Mouse', Arial, sans-serif;
    letter-spacing: 3px;
}

h1 {
    letter-spacing: 6px;
    color: #ffffff;
}

h3 {
    font-size: 24px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 18px;
}

figcaption {
    font-size: 18px;
    margin: 10px 50px;
}


/* CSS for header */

header {
    background-color: black;
    height: 130px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.page-heading {
    background-color: #EBA3E3;
    height: 80px;
    width: 100%;
    font-size: 26px;
    padding-left: 30px;
    margin-left: 10px;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
}

.header-icon {
    border-radius: 200px;
    height: 100px;
    margin: 0 50px;
}


/* CSS for webpage content - includes main and side bar*/

.body-info {
    width: 100%;
    display: flex;
}


/* CSS for aside (sidebar) */

.sidebar {
    background-color: black;
    width: 17%;
}

.sidebar-heading {
    margin: 50px 30px -30px;
    text-align: left;
    color: #EBA3E3;
}

.nav-items li {
    margin: 30px;
    text-align: left;
}

aside a {
    color: #9F9BF9;
}

/* CSS for introduction section */

main {
    display: block;
    justify-content: right;
    background-color: #9cc4cc;
    width: 85%;
    padding-bottom: 50px;
}

.topic-heading {
    margin: 50px 0 20px 80px;    
}

.my-description {
    display: flex;
}

.text {
    margin: 20px 20px 20px 80px;
}

.biography {
    width: 80%;
    line-height: 1.7;
}

.quick-facts {
    width: 30%;
    margin-right: 80px;
}

.quick-facts li {
    margin-left: 30px;
    line-height: 2.0;
}

.my-picture {
    display: block;
    height: 320px;
    width: auto;
    margin-bottom: 30px;
    margin-top: -60px;
    border-radius: 25px;
}


/*CSS for future goals section*/

.future-goals-list {
    font-size: 18px;
    line-height: 2.0;
    margin-left: 100px;
}

.swiss-picture {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 0 80%;
}


/* CSS for interests section*/

.interests figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interests h4, .interests p {
    margin: 10px 40px 20px 80px;
}

.interests h4 {
    font-size: 20px;
    color: #243560;
}

.watching-tv {
    margin-top: 30px;
    height: 400px;
    object-fit: contain;
    object-position: 0 80%;
    border-radius: 20px;
}


/* CSS for footer*/

footer {
    padding: 30px;
    background-color: #9F9BF9;
    text-align: center;
}

