* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aliceblue;
}

section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: bisque;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    color: #f99417;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

p {
    line-height: 1.6;
}

figcaption {
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 76px;
}

.container {
    width: 1200px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) and (min-width: 480px) {
    .container {
        width: 85%;
    }

    a {
        font-size: 15px;
    }

    figcaption, p {
        font-size: 15px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 85%;
    }   

    p {
        line-height: 1.4;
    }

    a {
        font-size: 13px;
    }

    figcaption, p {
        font-size: 13px;
    }
}


/* Header section*/

.header {
    background-color: #363062;

    .container {
        justify-content: space-between;
        height: 76px;
    }

    .nav-items {
        display: inline-flex;
        text-transform: uppercase;
    }
}

.header img {
    height: 60px;
    margin-left: 20px;
}

nav {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) and (min-width: 481px) {
    .header img {
        margin-left: 15px;
    }

    .nav-items {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .nav-items li {
        padding: 0;
        height: auto;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .header img {
        margin-left: 10px;
    }

    .nav-items {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .nav-items li {
        padding: 0;
        height: auto;
        margin: 10px;
    }
}


/* Banner */

.banner {
    background-image: url(/lab03/resources/baltimore-panorama);
    background-position: center;
    background-size: cover;
    height: 500px;

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .text {
        display: block;
        padding: 0 0 50px 50px;
    }

    .title {
        font-size: 60px;
        text-shadow: 3px 2px darkblue;
    }
    
    .subtitle {
        font-size: 35px;
        font-style: italic;
        padding-top: 15px;
        text-shadow: 3px 2px darkblue;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .banner {
        height: 400px;

        .container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }

        .text {
            padding: 0 0 35px 0;
        }

        .title {
            font-size: 40px;
    
        }
    
        .subtitle {
            font-size: 32px;
            padding-top: 5px;
        }
    }
}

@media (max-width: 480px) {
    .banner {
        height: 250px;

        .container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }

        .text {
            padding: 0 0 15px 0;
        }

        .title {
            font-size: 30px;
    
        }
    
        .subtitle {
            font-size: 22px;
            padding-top: 5px;
        }
    }
}


/* Facts */

.facts {
    background-color: #f5f5f5;
    color: black;

    .container {
        display: block;
        padding: 30px 0;
    }

    .info {
        text-align: justify;
    }

    .photos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
    
}

.facts img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin: 20px 0 10px;
    border-radius: 10px;
    border: #f99417 solid 2px;
    padding: 3px;
}

@media (max-width: 480px) {
    .facts .photos {
        display: block;
    }
}


/* History */

.history {
    background-color: #4d4c7d;

    .container {
        display: block;
        padding: 30px 0;
    }

    .info {
        text-emphasis: justify;
    }

    .photos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
}

.history img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 20px 0 10px;
    border-radius: 10px;
    border: #f99417 solid 2px;
    padding: 3px;
}

@media (max-width: 768px) and (min-width: 481px) { 
    .history .photos {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4em;
        margin-bottom: 40px;
    }

    .history img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .history .container {
        margin-bottom: 20px;
    }

    .history .photos {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1em;
    }

    .history img {
        width: 100%;
        height: 90%;
        object-fit: cover;
    }
}


/* Attractions section */

.attractions {
    background-color: #f5f5f5;
    color: black;

    .container {
        display: block;
        padding: 30px 0;
    }

    .photos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
    }
}

.attractions img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 20px 0 10px;
    border-radius: 10px;
    border: #f99417 solid 2px;
    padding: 3px;
}

@media (max-width: 768px) and (min-width: 481px) { 
    .attractions .container {
        margin-bottom: 30px;
    }

    .attractions .photos {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    .attractions img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .attractions .container {
        margin-bottom: 20px;
    }

    .attractions .photos {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2em;
    }

    .attractions img {
        width: 100%;
        height: 90%;
        object-fit: cover;
    }
}

/* Sports */

.sports {
    background-color: #4d4c7d;

    .container {
        display: block;
        padding: 30px 0;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin-bottom: 30px;
    }

    .photos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5em;
    }
}

.sports img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: #f99417 solid 2px;
    padding: 3px;
}

@media (max-width: 768px) and (min-width: 481px) { 
    .sports .photos {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1em;
    }

    .sports img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .sports .photos {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1em;
    }

    .sports img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}